<div id="modal" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Appointment
    </div>
    
    <form  action="/secretary/create" method="post" class="ui form">
        <div class="ui very padded grid form">
            <input type="hidden" id="app-id" name="app-id" value>
            <div class="six wide column">
                <div class="required field" id="fieldLastName">
                    <label>Last name</label>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name">
                </div>
                <div class="required field" id="fieldFirstName">
                    <label>First name</label>
                    <input type="text" name="firstname" id="firstName" placeholder="First Name">
                </div>
                <div class="required field" id="fieldDateCalendar">
                    <label>Date Time</label>
                    <div class="ui calendar" id="date_calendar">
                        <div class="ui fluid input left icon">
                            <i id="calendaricon" class="calendar icon"></i>
                            <input type="date" id="date" name="date" placeholder="Date">
                        </div>
                    </div>
                </div>
            <div class="ten wide column">

                <div class="required field" id="fieldDoctors">
                    <label>Doctor(s)</label>
                    <select name="doctors" class="ui fluid selection very long dropdown" multiple=""
                        id="multiDoctor">
                        <option value="">Doctor(s)</option>

                    </select>
                </div>

                <div class="required field" id="fieldProcedures">
                    <label>Procedure(s)</label>
                    <select name="procedures" class="ui fluid selectiovery long dropdown" multiple=""id="multiProcedure">
                        <option value="">Procedure(s)</option>
                        <!-- {{#each process}}
                            <option value="{{_id}}">{{processname}}</option>
                        {{/each}} -->

                    </select>
                </div>


                <div class="field">
                    <label>Notes</label>
                    <textarea id="notes"></textarea>
                </div>

                <div class="ui grid"><div class="actions column">
                <div class="ui positive right floated icon button very padded" id="save-button">
                    SAVE
                </div>
                <div class="ui red deny button right floated very padded" id="delete-button">
                    DELETE
                </div>
                </div></div>

            </div>
        </div>
    </form>
</div>
