<div id=".doc-form" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Doctors</div>

    <form class="ui form">
        <div class="ui very padded grid">
            <div class="six wide column">
                <div class="required field" id="fieldLastName">
                    <label>Last name</label>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name">
                </div>
                <div class="required field" id="fieldFirstName">
                    <label>First name</label>
                    <input type="text" name="firstName" id="firstName" placeholder="First Name">
                </div>
                <div class="ui grid"><div class="actions column">
                <div class="ui positive right floated icon button very padded" id="save-button">
                    SAVE
                </div>
                </div></div>
            </div>
        </form>
</div>

