<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/fullcalendar-api/lib/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/semantic/dist/semantic.css'>
    <script src='../../public/javascript/jquery.js'></script>
    <script src='../../public/javascript/moment.js'></script>
    <script src='../../public/javascript/moment.js'></script>
    <script src='../../public/fullcalendar-api/lib/main.min.js'></script>
    <script src='../../public/semantic/dist/semantic.js'></script>

</head>
<body>
    <div id="timetable"></div>
</body>
 



<div id="app-form" class="ui small modal app-form">
    <i class="close icon"></i>
    <div class="header">
        Appointment
    </div>
    
    <form  action="/secretary/create" method="post" class="ui form">
        <div class="ui very padded grid">
            <div class="six wide column">

                <div class="required field" id="fieldLastName">
                    <label>Last name</label>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name">
                </div>
                <div class="required field" id="fieldFirstName">
                    <label>First name</label>
                    <input type="text" name="firstName" id="firstName" placeholder="First Name">
                </div>
                <div class="required field" id="fieldDateCalendar">
                    <label>Date</label>
                    <div class="ui calendar" id="date_calendar">
                        <div class="ui fluid input left icon">
                            <i id="calendaricon" class="calendar icon"></i>
                            <input type="text" id="dateInput" name="dateInput" placeholder="Date">
                        </div>
                    </div>
                </div>
                <div class="required field" id="fieldTimeCalendar">
                    <label>Time</label>
                    <div class="ui calendar" id="time_calendar">
                        <div class="ui fluid input left icon">
                            <i class="time icon"></i>
                            <input type="text" id="timeInput" name="timeInput" placeholder="Time">
                        </div>
                    </div>
                </div>
            </div>


            <div class="ten wide column ui form">

                <div class="required field" id="fieldDoctors">
                    <label>Doctor(s)</label>
                    <select multiple = "" name="doctors" class="ui dropdown" multiple="" id="multiDoctor">
                    </select>
                </div>

                <div class="required field" id="fieldProcedures">
                    <label>Procedure(s)</label>
                    <select name="procedures" class="ui fluid selectiovery long dropdown" multiple=""id="multiProcedure">
                        <option value="">Procedure(s)</option>
                        <!-- {{#each process}}
                            <option value="{{_id}}">{{processname}}</option>
                        {{/each}} -->

                    </select>
                </div>


                <div class="field">
                    <label>Notes</label>
                    <textarea id="notes"></textarea>
                </div>

                <div class="ui grid"><div class="actions column">
                <div class="ui positive right floated icon button very padded" id="add-app">
                    ADD
                </div>
                <div class="ui positive right floated icon button very padded" id="save-app">
                    SAVE
                </div>
                <div class="ui red deny button right floated very padded" id="delete-app">
                    DELETE
                </div>
                </div></div>

            </div>
        </div>
    </form>
</div>


<div id=".doc-form" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Doctors</div>

    <form class="ui form">
        <div class="ui very padded grid">
            <div class="six wide column">
                <div class="required field" id="fieldLastName">
                    <label>Last name</label>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name">
                </div>
                <div class="required field" id="fieldFirstName">
                    <label>First name</label>
                    <input type="text" name="firstName" id="firstName" placeholder="First Name">
                </div>
                <div class="ui grid"><div class="actions column">
                <div class="ui positive right floated icon button very padded" id="save-button">
                    SAVE
                </div>
                </div></div>
            </div>
        </form>
</div>



</html>

<script src='../clientside-scripts/init.js'></script> 
<script src='../clientside-scripts/form.js'></script> 
<script src='../clientside-scripts/timegrid.js'></script> 
<script src='../clientside-scripts/secretary-main.js'></script>