<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Page Title</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta http-equiv='cache-control' content='no-cache'> 
        <meta http-equiv='expires' content='0'> 
        <meta http-equiv='pragma' content='no-cache'> 
      <link rel='stylesheet' type = 'text/css'media='screen' href='/semantic/dist/semantic.css'>
        <link rel='stylesheet' type = 'text/css'media='screen' href='/fullcalendar-api/lib/main.min.css'>
        <script type ='text/javascript' src='/javascript/jquery.js'></script>
        <script type ='text/javascript' src='/javascript/moment.js'></script>
        <script type ='text/javascript' src='/javascript/moment.js'></script>
        <script type ='text/javascript' src='/fullcalendar-api/lib/main.min.js'></script>
        <script type ='text/javascript'src='/semantic/dist/semantic.js'></script> 
        <meta http-equiv="Expires" content="-1">

    </head>

    <style>
        .ui.cards { display: inline-block; overflow-x: scroll; }
        
                </style>
<body>
    <nav class="ui secondary pointing menu">
        <a href = "/appointments" class="item">Appointments</a>
        <a class="item active">Request</a>
        <a href = "/history" class="item">History</a>

        <div class="right menu"><a href = "/logout"class="ui item">Logout</a></div>

    </nav>
     
    <div class="ui centered grid" style="margin-top: 20px;">
    <form class="ui card app-form form  container ten wide column" id = 'app-form' method = "POST" action = "/request" >
        <div class="header">Request an Appointment</div>
            <div class="ui very padded grid content">
                <div class="six wide column">
                    <input type = "hidden" id = "app-id" name = "id" value = -1 /> 
                    <div class="required field" id="fieldLastName">
                        <label>Last name</label>
                        <input type="text" name="lastname" id="lastname" placeholder="Last Name">
                    </div>
                    <div class="required field" id="fieldFirstName">
                        <label>First name</label>
                        <input type="text" name="firstname" id="firstname" placeholder="First Name">
                    </div>
                    <div class="required field" id="fieldDateCalendar">
                        <label>Date</label>
                            <div class="ui fluid input left icon">
                                <i id="calendaricon" class="calendar icon"></i>
                                <input type="date" id="date" name="date" placeholder="Date">
                            </div>
                    </div>
                    <div class="required field" id="fieldTimeCalendar">
                        <label>Time</label>
                            <div class="ui fluid input left icon">
                                <i class="time icon"></i>
                                <input type="time" id="time" name="time" placeholder="Time">
                            </div>
                    </div>
                </div>
    
                <div class="ten wide column ui form">
                    <div class="required field fieldDoctors" id = "selDoc">
                        <label>Doctor(s)</label>
                        <select multiple = "" name="doctor" class="ui fluid dropdown" multiple="" id="doctor">
                            {{#each doctor}}
                                <option value="{{_id}}">Dr. {{name}}</option>
                            {{/each}}
                        </select>
                    </div>
    
                    <div class="required field fieldProcedures">
                        <label>Procedure(s)</label>
                        <select name="process" class="ui fluid dropdown" multiple="" id="process">
                            {{#each process}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
    
                    <div class="field">
                        <label>Notes</label>
                        <textarea id="notes" name = 'notes'></textarea>
                    </div>
    
                    <div class="ui grid"><div class="actions column">
                    <input type = "submit" id = "add-app" class="ui primary fluid right floated submit icon button very padded">
                    </input>
                    </div></div>
    
                </div>
            </div>
    </form>
    </div>
    

</body>
</html>



<script>
     $(".dropdown").dropdown()


function cancel(){
    $.post("/requestapp", {_id: data.name, status: "cancelled"})
    .always((res)=>{ console.log('client recieving data'); 
               console.log(res.responseJSON); 
               window.location.reload(true);
               /*callback(data)*/ })
    .fail((xhr, status,err)=>{ console.log(err); })

    return false;
}

const appoinment_field_rules = {
  fields:{
    firstname: 'empty',
    lastname: 'empty',
    date: 'empty',
    time: 'empty',
    doctor: ['minLength[1]','empty'],
    process: ['minLength[1]','empty'],
  }
}

$(".form").form(appoinment_field_rules)
</script>