<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Page Title</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type = 'text/css'media='screen' href='/semantic/dist/semantic.css'>
        <link rel='stylesheet' type = 'text/css'media='screen' href='/fullcalendar-api/lib/main.min.css'>
        <script type ='text/javascript' src='/javascript/jquery.js'></script>
        <script type ='text/javascript' src='/javascript/moment.js'></script>
        <script type ='text/javascript' src='/javascript/moment.js'></script>
        <script type ='text/javascript' src='/fullcalendar-api/lib/main.min.js'></script>
        <script type ='text/javascript'src='/semantic/dist/semantic.js'></script>

    </head>
<body style = "background-color:steelblue">
    <form id = "frmCreate" class = "ui centered card form" style = "margin-top: 20px;" method = "POST" onsubmit="return addaccount()">
        <div class="ui content">
            <div class="field" id="fieldUsername">
                <label>Username</label>
                <input class ="inputfield" type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="field" id="fieldPassword">
                <label>Password</label>
                <input  class ="inputfield" type="password" name="password" id="password" placeholder="Password">
            </div>
			<div class="field" id="fieldRole">
				<label>Role</label>
				<select class="inputField" name="accountType" id="accountType">
					<option value="patient">Patient</option>
					<option value="secretary">Secretary</option>
				</select>
			</div>
            <div class="ui negative message" id = 'msgError' hidden = "true">
            
            </div>
            
            <div class="ui grid"><div class="actions column">
            <input type = "submit" id = "btn-create" value = "Create"class="ui right primary floated submit icon button fluid">
                Create
            </input>
            </input></div></div>
        </div>
    </form>
</body>
</html>

<script>
    function addaccount(){
        let $inputs = $("#frmCreate .inputfield");
		let $role = $("#accountType");
		console.log($role.val());
        var values = {};
        let response = false;

        $inputs.each(function() {
            values[this.name] = $(this).val();
        });
		values["accountType"] = $role.val();
        
        $.post("/addAccount",values).always((res)=>{
            console.log(res.responseJSON)
            if(res.responseJSON){
                if(res.responseJSON.errors){
                    $(".negative").show()
                    $(".negative").append(JSON.stringify(res.responseJSON.errors[0].msg))
                    return false;
                }else if(res.responseJSON.message){
                    $(".negative").show()
                    $(".negative").append(JSON.stringify(res.responseJSON.message))
                    return false;
                }
            }
            
            window.location.href = "/createAccount"
                
        })
        .fail((xhr, status,err)=>{ /*console.log(err);*/ })
        return response
    }
   

</script>